
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">home  </a></li>
    <li><a routerLink="/blogs" routerLinkActive="active">blogs  </a></li>
    <li><a routerLink="/contact" routerLinkActive="active">contact  </a></li>
    <li><a routerLink="/produts" routerLinkActive="active">produts  </a></li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>



<div class="container py-5">
<app-user [data] = "employee"></app-user>
<app-app-stock-status (valueChange)='displayCounter($event)' ></app-app-stock-status>
<table class="table">
  <thead>
  <th>Id</th>
  <th>Title</th>
  <th>Price</th>
  <th>Stock</th>
  </thead>
  <tbody>
      <tr *ngFor="let p of counterValue">
          <td>{{p.id}}</td>
          <td>{{p.title}}</td>
          <td>{{p.price}}</td>
          <td>{{p.stock}}</td>
      </tr>
  </tbody>
</table>

<hr>

<table class="table">
  <thead>
  <th>Id</th>
  <th>Title</th>
  <th>Price</th>
  <th>Stock</th>
  </thead>
  <tbody>
      <tr *ngFor="let p of counterValue">
          <td>{{p.id}}</td>
          <td>{{p.title}}</td>
          <td>{{p.price}}</td>
          <td>{{p.stock}}</td>
      </tr>
  </tbody>
</table>
</div>

